 body {
      background:#34495e;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    
  
     
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
        
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }
li{
    list-style: none;
    cursor:pointer;
    
}
li:nth-child(1){
    background-image: url('../imges/islam.jpg');
     background-size: 100% 100%;
    
}
li:nth-child(2){
    background-image: url('../img/islam1.jpg');
     background-size: 100% 100%;
}
li:nth-child(3){
    background-image: url('../img/islam3.jpg');
     background-size: 100% 100%;
    
}
li:nth-child(3){
    background-image: url('../img/islam3.jpg');
     background-size: 100% 100%;
    
}
li:nth-child(4){
    background-image: url('../img/islam4.jpg');
    background-size: 100% 100%;
    background-position: center;
    
}
li:nth-child(5){
    background-image: url('../img/islam5.jpg');
   background-size: 100% 100%;
    background-position: center;
    
}
li:nth-child(6){
    background-image: url('../img/islam6.jpg');
     background-size: 100% 100%;
    background-position: center;
    
}
li:nth-child(7){
    background-image: url('../img/islam7.jpg');
     background-size:600px 100%;
    background-position: center;
    
}
li:nth-child(8){
    background-image: url('../img/islam8.jpg');
     background-size: 100% 100%;
    background-position: center;
    
}
li:nth-child(9){
    background-image: url('../img/islam9.jpg');
     background-size:100% 100%;
    background-position: center;
    
}
li:nth-child(10){
    background-image: url('../img/islam10.jpg');
     background-size: 100% 100%;
    background-position: center;
    
}
li:nth-child(11){
    background-image: url('../img/islam11.jpg');
     background-size: 100% 100%;
    background-position: center;
    
}
li:nth-child(12){
    background-image: url('../img/islam8.jpg');
     background-size:100%;
    background-position: center;
    
}
.gridster{
    position: relative;
    
}
.gridster>*{
    margin:0 auto;
    transform:height .4s, width .4s;
}
.gridster .gs-w{
    
    z-index: 2;
    position: absolute;
}
.ready .gs-w:not(.preview-holder){
    transition: opacity .3s, left .3s, top .3s;
}
.ready .gs-w:not(.preview-holder)
.ready .resize-preview-holder{
     transition: opacity .3s, left .3s, top .3s ,height .3s;
}
.gridster .preview-holder{
    
    
    z-index:1;
    position:absolute;
    background-color: white;
    opacity:.3s;
}
.gridster .player-revert{
    z-index: 10 !important;
    transition: left .3s,top .3s !important;
    
}
.gridster .dragging, .gridster .resizing{
    z-index:10 !important;
    transition: all 0s !important;
}
.gs-resize-handle{
    position: absolute;
    z-index:1;
}
.gs-resize-handle-both{
    width: 20px;
    height:20px;
    bottom: -8px;
    right:-8px;
}
.gs-resize-handle-x{
    top:0;
    bottom:13px;
    right:-5px;
    width:10px;
    cursor:e-resize;
}
.gs-resize-handle-y{
    left:0px;
    right:13px;
    bottom:-5px;
    height: 10px;
    cursor:s-resize;
    
}
.gs-w:hover .gs-resize-handle,
.resizing
.gs-resize-handle{
  opacity: 1;  
}
.gs-resize-handle,
.gs-w.dragging
.gs-resize-handle{
    
   opacity:0; 
    
}
